@keyframes btnAnime {
    0%{
        width: 200px;
        height: 64px;
        display: block;
        border-radius: 4px;
        border: 2px solid blue;
        background-color: #fff;
        color: #ff0099;
        box-shadow: 8px 8px 0 #ff0099;

    }
    50%{
        width: 180px;
        height: 64px;
        display: block;
        border-radius: 8px;
        border: 2px solid blue;
        background-color: #fff;
        color: #ff0099;
        box-shadow: 0px 0px 0 #ff0099;

    }
    100%{
        width: 200px;
        height: 64px;
        display: block;
        border-radius: 6px;
        border: 2px solid blue;
        background-color: blue;
        color: #fff;
        box-shadow: 0px 0px 0 #ff0099;

    }
}

.btn{
    width: 200px;
    height: 64px;
    display: block;
    border-radius: 6px;
    border: 2px solid blue;
    margin: 100px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 64px;
    text-decoration: none;
    color: #ff0099;
    background-color: #fff;
    box-shadow: 8px 8px 0 #ff0099;
    transition: all 0.3 ease-out;

}

.btn:hover{
    animation: btnAnime 0.6s forwards;

}
h1{ 
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ff0099;
    
}
