@keyframes myBoxAnime {
    0% {background-color: blue;
    width: 200px;
    height: 200px;
    border-radius: 0;
    }
    30% {background-color: red;
    width: 400px;
    height: 100px;
    transform: translate(300px, 300px) rotate(0deg);
    border-radius: 0;
    }
    70%{
    background-color: purple;
    width: 100px;
    height: 100px;
    transform: translate(0, 0) rotate(0deg);
    border-radius: 50%;
    

    }
    100% {background-color: yellowgreen;
    width: 200px;
    height: 200px;
    transform: translate(800px, 600px) rotate(360deg);
    border-radius: 0;
    }
  }

body{
    margin: 0;
    padding: 0;

}
main{
    width: 80%;
    height: 800px;
    display: table;
    background-color: #c2c4c5;
    margin: 100px auto;

}
.quadrado{
    display: block;
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: all 3s ease-in; /* <Parametro para tempo de execução da animação>*/
    animation: myBoxAnime 3s forwards;
    

}